
<h2>Students data child !</h2>

<div class="row mt-4">
  <div class="col-lg-12">

    <form [formGroup]="formgroup" (ngSubmit)="submit(formgroup.value)">

      <div class="col-lg-12">
        <label>Enter name :-</label><br>
        <input class="form-control" style="border: 1px solid black; width: 90%;" type="text" placeholder="Enter name" formControlName="name">
      </div>
      <br>
      <div class="col-lg-12">
        <label>Enter age :-</label><br>
        <input class="form-control" style="border: 1px solid black; width: 90%;" type="number" placeholder="Enter age" formControlName="age">
      </div>

      <div class="col-lg-12">
       <button class="btn btn-primary mt-3" type="submit">Submit</button>
      </div>

      <div class="col-lg-12">
        <h5 class="text-danger">{{message}}</h5>
      </div>

    </form>
  </div>
</div>

